<footer class="fixed-bottom row">
  <div class="col-3"></div>
  <div class="p-2 col-3 text-center">
    <button type="button" class="btn btn-light" (click)="scan()">
      <img src="/assets/imgs/icons/plus_sign_1.png" alt="plus" height="35">
    </button>
  </div>
  <div class="p-2 col-3 text-center">
    <button type="button" class="btn btn-light">
      <img src="/assets/imgs/icons/user-silhouette-icon.png" alt="plus" height="35">
    </button>
  </div>
  <div class="col-3"></div>
 


</footer>